@import "reset";
@import "fonts";

$lato: 'Lato', sans-serif;
$karla: 'Karla', sans-serif;
$openSans: 'Open Sans', sans-serif;
$baseColor: #888;
$yellowColor: #E0F300;
$blueColor: #00559E;

html {
  scroll-behavior: smooth;
}
body {
  font: 16px $karla;
  font-weight: 300;
  color: $baseColor;
}

h2 {
  color: $blueColor;
  font-family: $lato;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.pixel-arrow ,
.pixel-cross {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  .pixel {
    width: 24px;
    height: 24px;
  }
}

.pixel-arrow {
  width: 48px;
  height: 48px;
  .pixel-1 {
    background: #040404;
    opacity: 0.8;
  }
  .pixel-3 {
    background: #040404;
  }
  .pixel-4 {
    background: #08121D;
    opacity: 0.9;
  }
}

.pixel-cross {
  width: 72px;
  height: 72px;
  .pixel {
    background: #040404;
  }
  .pixel-1, .pixel-3, .pixel-7, .pixel-9 {
    opacity: 0;
  }
  .pixel-2, .pixel-8 {
    opacity: 0.6;
  }
  .pixel-4 {
    background: #08121D;
    opacity: 0.8;
  }
  .pixel-5 {
    opacity: 0.9;
  }
  .pixel-6 {
    opacity: 0.4;
  }
}

.donat-button {
  font-weight: 700;
  background: #063758;
  border: 4px solid $yellowColor;
  width: 299px;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellowColor;
  &:hover {
    background: $yellowColor;
    border: 4px solid #063758;
    color: #063758;
  }
}

//header start

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 96px;
  padding: 20px;
  background: black;
  a {
    color: #fff;
  }
  .mobile-header ,
  .mobile-menu {
    display: none;
  }
  .head-half {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
  }
  .logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 142px;
    height: 144px;
    left: 181px;
    top: 0;
    background: $blueColor;
    border-radius: 0 0 8px 8px;
    z-index: 200;
    padding-top: 24px;
  }
  .navigate {
    display: flex;
    li {
      margin-right: 40px;
      a:hover {
        color: $blueColor;
      }
    }
  }
  .head-contact {
    margin-left: 347px;
    display: flex;
    li {
      color: #fff;
      &.location {
        margin-right: 80px;
      }
      &.location:before ,
      &.phone:before {
        left: -32px;
        font-size: 20px;
      }
      &.location:before {
        content: "\e901";
        top: 0;
      }
      &.phone:before {
        content: "\e903";
        top: 2px;
      }
    }
  }
  .donat-button {
    margin-right: 48px;
    width: 200px;
  }
  .language {
    margin-right: 0;
    span {
      display: inline-block;
    }
    .ukr ,
    .en {
      width: 27px;
      height: 18px;
      border-radius: 3px;
      position: relative;;
    }
    .ukr {
      background: no-repeat url(/img/icon/Flag_of_Ukraine.jpg);
      margin-right: 15px;
    }
    .en {
      background: no-repeat url(/img/icon/Flag_of_the_United_Kingdom.jpg);
    }
    .ukr.active:after ,
    .en.active:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      left: 10px;
      bottom: -4px;
      background: #FFF;
      border-radius: 10px;
    }
  }
  .mobile-header {
    display: none;
  }
}

//header end

.presentation-block {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  .arrow-pixel {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -10px;
    height: 20px;
    width: 25px;
    a {
      height: 20px;
      width: 20px;
      display: block;
      &:after {
        content: "\e904";
        color: $yellowColor;
        font-size: 25px;
      }
    }
  }
  .left-blocks {
    .info-block {
      .bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      position: relative;
      .info-content {
        display: none;
        position: absolute;
        align-items: center;
        flex-direction: column;
        left: 0;
        top: 0;
        padding: 20px;
        height: 100%;
        img {
          margin-bottom: 20px;
          max-width: 170px;
          height: auto;
          max-height: 45%;
        }
        p {
          color: #fff;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    .red-block {
      height: 34%;
      .info-content {
        background: #AE0F0F;
        flex-direction: row;
        img {
          max-width: 170px;
          max-height: 50%;
          width: 100%;
          margin: 0 40px 0 0;
        }
      }
      &:hover {
        .info-content {
          display: flex;
        }
      }
    }
    .yellow-block {
      height: 50%;
      .info-content {
        background: #E0F300;
        p {
          color: $baseColor;
        }
      }
      &:hover {
        .info-content {
          display: flex;
        }
      }
    }
    .grey-block {
      height: 50%;
      .info-content {
        background: #6A6864;
      }
      &:hover {
        .info-content {
          display: flex;
        }
      }
    }
    .black-block {
      .info-content {
        background: #000;
        img {
          object-fit: cover;
        }
      }
      &:hover {
        .info-content {
          display: flex;
        }
      }
    }
    .bottom-info-block {
      display: flex;
      height: 66%;
    }
    .left-info-block {
    }
  }
  .right-blocks {
    .blue-block {
      padding: 102px 20px 0 176px;
      height: 71%;
      background: $blueColor;
      h1 {
        font-size: 40px;
        font-family: $openSans;
        font-weight: 700;
        line-height: 72px;
        color: #fff;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        font-weight: 800;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 45px;
        line-height: 24px;
        color: #d9edff;
      }
      .donat-button {
        width: 300px;
      }
    }
    .colorless-block {
      height: 29%;
      display: flex;
    }
  }
}

//Beginning block
.wrapper {
  .beginning {
    display: flex;
    padding: 120px 0 0 180px;
    height: 100vh;
    img {
      width: auto;
      height: auto;
      max-height: 99%;
      margin-right: 150px;
    }
    .beginning-text {
      position: relative;
      padding:100px 180px 0 0;
      p {
        font-size: 14px;
        margin-top: 40px;
      }
      .pixel-arrow {
        left: -60px;
      }
      .pixel-cross {
        right: 90px;
        top: 115px;
      }
    }
  }
  .about {
    display: flex;
    padding: 120px 0 0 180px;
    img {
      margin: 115px 150px 0 0;
      max-width: 560px;
      height: auto;
      object-fit: contain;
    }
    .about-text {
      padding-right: 180px;
      h2 {
        margin-bottom: 65px;
      }
      p {
        margin-top: 40px;
      }
    }
  }
  .about-arrow-box {
    height: 68px;
    position: relative;
    margin:250px 0 150px;
    display: flex;
    justify-content: center;
    .pixel-arrow {
      transform: rotate(-45deg);
    }
  }
  .help-image {
    display: flex;
    padding: 0 25px 150px;
    img {
      margin-right: 10px;
      width: 41%;
      &:nth-child(2) {
        width: 58%;
      }
    }
  }
  .help-form {
    background: #F5F5F5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.08);
    max-width: 1558px;
    margin: 0 auto 280px;
    padding: 110px 160px;
    display: flex;
    .type-block {
      width: 50%;
      h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 55px;
        font-family: $lato;
        font-weight: 700;
        color: $blueColor;
      }
      p {
        font-weight: 500;
        font-size: 28px;
        line-height: 150%;
        margin-bottom: 55px;
      }
      input {
        margin:0 8px 24px 0;
      }
    }
    .writer-info {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 50%;
      input {
        margin-bottom: 32px;
        width: 100%;
        height: 64px;
        border: 2px solid #000000;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 0 25px;
      }
    }
  }
  .app-container {
    background: #F5F5F5;
    .app-box {
      max-width: 1558px;
      margin: 0 auto;
      padding:160px 25px 180px;
      .application-block {
        display: flex;
        justify-content: space-around;
        .step-block {
          &.step1 {
            .pixel-1 {opacity: 0.12}
            .pixel-3 {opacity: 0.08}
            .pixel-4 {opacity: 0.1; color: #08121D}
          }
          &.step2 {
            .pixel-1 {opacity: 0.08}
            .pixel-3 {opacity: 0.12}
            .pixel-4 {opacity: 0.1; color: #08121D}
          }
          &.step3 {
            .pixel-1 {opacity: 0.12}
            .pixel-3 {opacity: 0.1; color: #08121D}
            .pixel-4 {opacity: 0.08}
          }
          &.step4 {
            .pixel-1 {opacity: 0.08}
            .pixel-3 {opacity: 0.12}
            .pixel-4 {opacity: 0.1; color: #08121D}
          }
          .step-number {
            margin-right: 50px;
            width: 40px;
            text-align: center;
          }
          .step-image {
            display: flex;
            align-items: center;
            p {
              display: inline-block;
              font-size: 80px;
              line-height: 83px;
              color: #383838;
              opacity: 0.08;
            }
            .step-illustration {
              a {
                color: $blueColor;
                text-decoration: underline;
                padding-left: 10px;
                &:hover {
                  text-decoration: none;
                }
              }
              img {
                width: 40px;
                height: 40px;
              }
            }
          }
          .step-text {
            display: flex;
            align-items: center;
            margin-top: 10px;
            .pixel-arrow {
              position: relative;
              transform: rotate(-135deg);
              margin-right: 40px;
            }
            p {
              font-weight: 800;
              font-size: 18px;
              line-height: 130%;
              color: #000;
            }
          }
        }
      }
      .app-donat-block {
        display: flex;
        justify-content: right;
        margin: 100px 300px 0 0;
      }
    }
  }
  .donat-form-box {
    background: no-repeat url("/img/bg/pixel-bg.jpg") 100% 100%;
    padding: 180px 0 160px;
    .donat-form-block {
      background: #F5F5F5;
      max-width: 1558px;
      margin: 0 auto;
      padding: 110px 160px;
      width: auto;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.08);
      h1 {
        color: $blueColor;
        font-family: $lato;
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
        margin-bottom: 45px;
      }
      .donat-method {
        a {
          color: $baseColor;
          margin-right: 24px;
          &.active {
            color: $blueColor;
            display: inline-block;
            position: relative;
            &:after {
              background: #00559e;
              content: "";
              height: 4px;
              left: 0;
              bottom: -4px;
              width: 100%;
              position: absolute;
            }
          }
        }
      }
    }
    .donat-form {
      margin-top: 45px;
      display: flex;
      .donat-count-block {
        flex: 0 0 50%;
        input {
          position: absolute;
          z-index: -1;
        }
        label {
          font-family: $karla;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          color: #FFF;
          width: 141px;
          height: 64px;
          background: #888;
          border-radius: 8px;
          align-items: center;
          justify-content: center;
          display: flex;
          margin: 0 16px 32px 0;
          float: left;
          &.active {
            background: #00559E;
            color: #FFF;
          }
          &.other-count {
            border: 2px solid #000;
            border-radius: 8px;
            font-size: 16px;
            line-height: 19px;
            color: #848282;
            background: #FFF;
          }
        }
      }
      .donat-info {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 50%;
        input {
          margin-bottom: 32px;
          width: 100%;
          height: 64px;
          border: 2px solid #000000;
          border-radius: 8px;
          box-sizing: border-box;
          padding: 0 25px;
        }
      }
    }
  }
}

footer {
  background: #D1D1D1;
  padding-bottom: 20px;
  .footer-block {
    max-width: 1558px;
    margin: 0 auto;
    padding: 210px 0 30px;
    display: flex;
    .block-with-logo {
      flex: 0 0 16%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 330px;
      .logo {
        margin-bottom: 20px;
      }
      p {
        color: #000;
        text-align: center;
      };
    }
    .footer-link-block {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 155px;
      h3 {
        font-family: $karla;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #000;
        margin-bottom: 44px;
      }
      ul {
        li {
          margin-bottom: 22px;
          a {
            color: #000;
          }
        }
      }
      .props ul li a {
        color: $blueColor;
      }
      .contact {
        li {
          text-indent: 32px;
          &:before {
            color: #063758;
            font-size: 20px;
            left: -32px;
          }
          &.location:before {
            left: -28px;
          }
        }
        .location:before {
          content: "\e901";
          top: 0;
        }
        .mail:before {
          content: "\e902";
          top: 2px;
        }
        .phone:before {
          content: "\e903";
          top: 2px;
        }
      }
    }
  }
  .copywriter {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1550px) {
  header .head-half {
    flex: 0 0 auto;
  }
  .head-contact {
    flex-direction: column;
    li {
      padding: 5px 0;
    }
  }
  .presentation-block {
    .right-blocks .blue-block {
      padding: 40px 20px 0 80px;
      h1 {
        font-size: 36px;
        line-height: 58px;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  header {
    .donat-button ,
    .navigate li {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1220px) {
  header {
    .logo-block {
      left: 80px;
    }
    .head-contact {
      margin-left: 250px;
    }
  }
}


@media screen and (max-width: 1140px) {
  header {
    .navigate {
      flex-direction: column;
    }
  }
  .presentation-block {
    .right-blocks .blue-block h1 {
      font-size: 30px;
      line-height: 46px;
    }
  }
}

@media screen and (max-width: 940px) {
  header {
    .logo-block {
      left: 20px;
    }
    .head-contact {
      margin-left: 190px;
    }
  }
}

@media screen and (max-width: 887px) {
  header {
    height: 60px;
    padding: 0 16px;
    .head-half {
      display: none;
    }
    .mobile-header {
      display: flex;
      flex: 0 0 100%;
      justify-content: space-between;
      .logo-block {
        padding-top: 18px;
        left: 50%;
        margin-left: -48px;
        width: 96px;
        height: 104px;
        img {
          width: 48px;
        }
        .blue-logo {
          display: none;
        }
        &.active {
          background: #fff;
          .white-logo {
            display: none;
          }
          .blue-logo {
            display: block;
          }
        }
      }
      .burger-menu ,
      .cross {
        color: #fff;
      }
      .burger-menu {
        width: 20px;
        height: 12px;
        &:after {
          content: "\e906";
          font-size: 26px;
          top: -5px;
        }
      }
      .burger-menu.active {
        width: 16px;
        height: 16px;
        &:after {
          content: "\e905";
          top: 0;
          font-size: 16px;
        }
      }
      .ukr.active:after ,
      .en.active:after {
        bottom: -8px;
      }
    }
    .mobile-menu {
      height: calc(100vh - 60px);
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 100;
      background: #000;
      padding-left: 42px;
      display: none;
      flex-direction: column;
      &.active {
        display: flex;
      }
      .head-contact {
        margin: 84px 0 55px;
        flex-direction: column;
        li {
          text-indent: 36px;
          margin-bottom: 25px;
        }
      }
      .navigate {
        flex-direction: column;
        li {
          margin-bottom: 25px;
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
